@import 'shared/styles/base.scss';
@import 'shared/styles/colors.scss';
@import 'shared/styles/fonts.scss';

.ui-kit,
.web-pages {
  margin: 0 0 20px 10px;
  display: flex;
  flex-direction: column;
  font-size: $font-H1;
  color: $color-dark-shade-100;

  &__item {
    margin: 5px 0 0 10px;
    font-size: $font-H2;
    color: $color-dark-shade-75;
  }
}
